{% extends "base.html" %}
{% load i18n staticfiles %}
{% block base_content %}
<h2>Mi perfil</h2>
<div class="fila">
  <div class="columna col3">
    <img src="{{ user.userprofile.get_avatar }}" alt="Foto de perfil" class="">
  </div>
  <div class="columna col9">
    <h3><span>Name: </span>{{ user.first_name }} {{ user.last_name }}</h3>
    {% if user.userprofile.facebook_link %}
      <p>Perfil Facebook: <a href="{{ user.userprofile.facebook_link }}" target="_blank">Ver</a></p>
    {% else %}
      <p><a href="{% url 'social:begin' 'facebook' %}">Conectar Facebook</a></p>
    {% endif %}
    {% if user.userprofile.twitter %}
      <p>Perfil Twitter: <a href="{{ user.userprofile.get_twitter_url }}" target="_blank">Ver</a></p>
    {% else %}
      <p><a href="{% url 'social:begin' 'twitter' %}">Conectar twitter</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
