<div class="login-form">
	<p>
		Crea una cuenta
	</p>
	<form action="" method='post'>
		{% csrf_token %}
		<div>
			<span class="icon-user"></span>
			<input type="text" placeholder="Username" class="input" name="username">
		</div>
		<div>
			<span class="icon-mail"></span>
			<input type="email" placeholder="Email" class="input" name="email">
		</div>
		<div>
			<span class="icon-lock"></span>
			<input type="password" placeholder="Elige un password" class="input" name="password1">
		</div>
		<div>
			<span class="icon-lock"></span>
			<input type="password" placeholder="Confirma password" class="input" name="password2">
		</div>
		<input class="form-button" type="submit" value="Registrarse">
	</form>
</div>